<%= form_for([:regulate , :admin , @page], :as => :page)  do |f| %>
  <fieldset id="user_form">
    <div id="custom_field_errors"></div>
    <% if @page.new_record? %>
      <div class="form_row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    <% end %>
    <div class="form_row">
      <%= f.label :view %>
      <%= f.text_area :view %>
    </div>
    <div class="form_row">
      <%= f.submit "Save" %>
      <%= link_to "Cancel" , regulate_admin_regulate_pages_path %>
    </div>
  </fieldset>
<% end %>
<%= javascript_tag "var existing_custom_fields = #{@page.edit_regions.to_json}" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "regulate_admin" %>

