<% form_for([:regulate , :admin , @page], :as => :page)  do |f| %>
  <fieldset id="user_form">
    <% if @page.new_record? %>
      <div class="form_row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    <% end %>
    <div class="form_row">
      <%= f.label :view %>
      <%= f.text_area :view %>
    </div>
    <div class="form_row">
      <%= f.submit "Save" %>
      <%= link_to "Cancel" , regulate_admin_regulate_pages_path %>
    </div>
  </fieldset>
<% end %>

