<h2>Pages</h2>
<h3>Welcome <%= "#{@authorized_user.first_name} #{@authorized_user.last_name}" %></h3>
<div>You have a role of <%= @authorized_user.role %></div>
<% if @authorized_user.is_admin %>
  <%= link_to "New Page", new_regulate_admin_regulate_page_path %>
<% end %>
<ul>
  <% @pages.each do |page| %>
    <li>
      <%= page.title %>
      <%= link_to "Edit" , edit_regulate_admin_regulate_page_path(page.id) %>
    </li>
  <% end %>
</ul>
