<h2>Pages</h2>
<h3>Welcome <%= "#{@authorized_user.first_name} #{@authorized_user.last_name}" %></h3>
<div>You have a role of <%= @authorized_user.role %></div>
<% if @authorized_user.is_admin? %>
  <%= link_to "New Page", new_regulate_admin_regulate_page_path %>
<% end %>
<ul>
  <% @pages.each do |page| %>
    <li>
      <%= page.title %>
      <%= link_to "Edit" , edit_regulate_admin_regulate_page_path(page) %>
      <% if @authorized_user.is_admin? %>
        <%= link_to "Delete" , regulate_admin_regulate_page_path(page), :confirm => 'Are you sure?', :method => :delete, :class => 'delete_link' %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if @authorized_user.is_admin? %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_tag do %>
    // Triggers an event on an element and returns the event result
    function fire(obj, name, data) {
      var event = new $.Event(name);
      obj.trigger(event, data);
      return event.result !== false;
    }
    function allowAction(element) {
      var message = element.attr('data-confirm');
      return !message || (fire(element, 'confirm') && confirm(message));
    }
    // Handles "data-method" on links such as:
    // <a href="/users/5" data-method="delete" rel="nofollow" data-confirm="Are you sure?">Delete</a>
    function handleMethod(link) {
      var href = link.attr('href'),
        method = link.attr('data-method'),
        csrf_token = $('meta[name=csrf-token]').attr('content'),
        csrf_param = $('meta[name=csrf-param]').attr('content'),
        form = $('<form method="post" action="' + href + '"></form>'),
        metadata_input = '<input name="_method" value="' + method + '" type="hidden" />';
      if (csrf_param !== undefined && csrf_token !== undefined) {
        metadata_input += '<input name="' + csrf_param + '" value="' + csrf_token + '" type="hidden" />';
      }
      form.hide().append(metadata_input).appendTo('body');
      form.submit();
    }
    $('a.delete_link').bind('click',function(e){
      var link = $(this);
      if (!allowAction(link)){ return false };
      handleMethod(link);
      return false;
    });
  <% end %>
<% end %>
